@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

*{
    /* outline: 1px solid rgb(255, 44, 44); */
    font-family: 'Inter', sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: #9A9A9A;    
}

form{
    width: 50vw;
    height: auto;
    background-color: white;
    border-radius: 20px;
}

.fa-user{
 color: #080069;   
 background-color: white;
 font-size: x-large;
 padding: 10px;
 margin: 10px;
 border-radius: 50%;
 border: 4px solid #080069;
}

.fa-circle-xmark{
    font-size: 40px;
    margin: 10px 15px 0;
    border-radius: 50%;
    cursor: pointer;
    color: grey;
    background-color: white;
}

.fa-circle-xmark:hover{
    color: white;
    background-color: grey;
    border: 1px solid grey;
}

#caption{
    padding: 0 40px;
    font-size: 1rem;
    color: #5a5a5a;
}

.form-label{
    font-size: 1rem;
    color: black;
}

.form-label,
.form-text{
    width: 95%;
    margin: auto;
}

.form-text{
    margin: 15px auto;
    height: 3.125rem;
    border-radius: 1rem;
    border: 2px solid #9A9A9A;
    transition: 0.1s;
    color: black;
}

.form-text:focus{
    border: 3px solid #080069;
}



#form-password{
    border: none;
    width: 100%;
}

#form-password:focus{
    outline: none;
}

.w-95{
    width: 95%;
    margin: 0 auto;
    align-items: center;
}

input[type="checkbox"]{
    width: 1rem;
    height: 1rem;
}

input[type="button"]{
    width: 95%;
    height: 3rem;
    margin: 3rem auto 1rem;
    background-color: #080069;
    color: white;
    border-radius: 1rem;
    font-size: 1.5rem;
    transition: 0.2s;
    border: 3px solid #080069;
}

input[type="button"]:hover{
    background-color: white;
    color: #080069;
}

a{
    text-decoration: none;
    height: 3rem;
    margin: 3rem auto;
    background-color: white;
    color: grey;
    border-radius: 1rem;
    font-size: 1.5rem;
    transition: 0.2s;
    border: 3px solid grey;
    text-align: center;
    transition: 0.2s;
}

a:hover{
    background-color: grey;
    color: white;
}

label, p{
    color: grey;
}

h1{
    font-size: x-large;
}

.text-danger{
    font-weight: bolder;
}

@media only screen and (max-width: 768px)  {
    form{
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}